.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 2%;
    background-color: var(--accent-color);
    color: var(--text-color);
}

.navbar-menu{
    font-size: 18px;
    transition: .3s ease;
    cursor: pointer;
}

.navbar-menu:hover{
    font-size: 22px;
}

.navbar-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-logo h1{
    font-size: 17px;
    color: black;
    margin-right: 5px;
}

.navbar-logo h2{
    font-size: 20px;
    color: var(--button-hover-color);
}

.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: .3s ease;
    color: var(--text-color);
}

.profile:hover{
    font-size: 18px;
}

.profile h1{
    font-size: 14px;
    transition: .3s ease;
}

.profile h1:hover{
    text-decoration: underline;
}